<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="./assets/style.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
 
    <title>Loja de Discos</title>
</head>
<body>
<div id="app">

    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html">
                <img :src='logo' class="d-inline-block">
                Loja de Discos</a>
            <div class="dropdown_cart">
                <button onclick="dd_func()" class="btn btn-dark">
                    <i class="bi bi-cart-fill"></i>
                    <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle" v-if='cart.length > 0'></span>
                </button> 
                <div id="cart_dropdown" class="dropdown_body">
                    <ul>
                        <li v-for='(album) in cart' :key='album.id' class='card text-center bg-white' id='card_cart'>
                            <img :src='album.cover' :alt='(album.title)' class='card-img-top'></img>
                            <div class='card-body'>
                                <h5 class='card-title'>{{ album.title }}</h5>
                                <h6 class='card-subtitle mb-2 text-muted'>{{ album.artist }}</h6>
                                <p class='album_price'>R$ {{ album.total.toFixed(2) }}</p>
                                <div class="btn-group" role="group">
                                    <button class="btn btn-secondary">
                                        <a href='#' v-on:click.prevent='sub_cart(album)' v-if='album.quantity > 1'>
                                            <i class="bi bi-cart-dash"></i>
                                        </a>
                                        <a href='#'v-on:click.prevent='remove_cart(album)' v-else >
                                            <i class="bi bi-cart-dash"></i>
                                        </a>
                                    </button>
                                    <span id ='product_count'class="btn btn-secondary">{{ album.quantity }}</span>
                                    <button class="btn btn-secondary">
                                        <a href='#' v-on:click.prevent='plus_cart(album)'>
                                            <i class="bi bi-cart-plus"></i>
                                        </a>
                                    </button>
                                    <button class="btn btn-secondary">
                                        <a href='#' v-on:click.prevent='remove_cart(album)'>
                                            <i class="bi bi-cart-x"></i>
                                        </a>
                                    </button>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <span v-if='cart.length > 0'>Total da compra: R$ {{ total_cart.toFixed(2) }}</span>
                    <span v-else>Ops, não há nada aqui! <br> Adicione coisas ao seu carrinho em "Comprar"!</span>
                </div>
            </div>
        </div>
    </nav>
            
    <div id="hard_rock">
        <h2 class='session_title'>Hard Rock</h2>
        <ul class='products'>
                
            <li v-for='(album) in albums_hr' :key='album.id' class='card text-center bg-white'>
                <img :src='album.cover' :alt='(album.title)' class='card-img-top'></img>
                <div class="card-body">
                    <h5 class='card-title'>{{ album.title }}</h5>
                    <h6 class='card-subtitle mb-2 text-muted'>{{ album.artist }}</h6>
                    <p class='album_price'>R$ {{ album.price.toFixed(2) }}</p>

                    <a href='#' v-on:click.prevent='add_cart(album)' v-if='!verify_cart(album)' class="btn btn-dark">
                    Comprar
                    </a>

                    <a href='#' v-on:click.prevent='plus_cart(album)' v-else='!verify_cart(album)' class="btn btn-dark">
                    Comprar</a>

                </div>
            </li>
        </ul>
    </div>
        
    <hr>

    <div id="black_metal">
        <h2 class='session_title'>Black Metal</h2>
        <ul class='products'>
            <li v-for='(album, index) in albums_bm' :key='album.id' class='card text-center bg-white'>
                <img :src='album.cover' :alt='(album.title)' class='card-img-top'></img>
                <div class="card-body">
                    <h5 class='card-title'>{{ album.title }}</h5>
                    <h6 class='card-subtitle mb-2 text-muted'>{{ album.artist }}</h6>
                    <p class='album_price'>R$ {{ album.price.toFixed(2) }}</p>

                    <a href='#' v-on:click.prevent='add_cart(album)' v-if='!verify_cart(album)' class="btn btn-dark">
                    Comprar</a>

                    <a href='#' v-on:click.prevent='plus_cart(album)' v-else='!verify_cart(album)' class="btn btn-dark">
                    Comprar</a>
                </div>
            </li>
        </ul>
    </div>
        
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="./app.js"></script>

<script>
    function dd_func() {
        document.getElementById("cart_dropdown").classList.toggle("show");
    }

    window.onclick = function(event) {
        if (!event.target.matches('.btn btn-dark')) {
            var dropdowns = document.getElementsByClassName("dropdown_bod");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
            }
            }
        }
    }
</script>

</body>
</html>