#app ul {
    list-style-position: inside;
    padding-left: 0;
}
.products{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content:space-around;
}
.card{
    width: 250px;
}
.cart_button{
    display: inline-flex;
    flex-direction: row;
}
.dropbtn {
    background-color: #414141;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover{
    background-color: #505050;
}
.dropdown_cart {
    position: relative;
    float: right;
}
.dropdown_body {
    display: none;
    position: absolute;
    width: 265px;
    height: 450px;
    z-index: 1;
    right: 0px;
    background-color: white;
    overflow: auto;
    box-shadow: 0 0 1em black;
    text-align: center;
}
.dropdown_body a {
    color: white;
    text-decoration: none;
    display: block;
}
.dropdown_body a:hover {
    color: white;
}
#product_count:hover{
    background-color: #6C757D;
    cursor: default;
    border-color: #6C757D;
}
.show {display:block;}